/notes
/Chapter 02 - Igniting our app/node_modules
/Chapter 02 - Igniting our app/dist
/Chapter 02 - Igniting our app/.parcel-cache
/Chapter 03 - Laying the Foundation/node_modules
/Chapter 03 - Laying the Foundation/dist
/Chapter 03 - Laying the Foundation/.parcel-cache
